Keys required to operate the system:

TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
FORTYGUARD_API_KEY=your_fortyguard_api_key_here
GOOGLE_SHEET_ID=your_google_sheet_id_here
OPENAI_ACCOUNT_API=your_openAi_api_key_here"
HTTP Request :Header Auth:
- Name : api-key
- Value : your_fortyguard_api_key
